body{
  margin:0;
  font-family:Arial;
  background:linear-gradient(135deg,#f6e9ff,#e6f0ff);
}

.container{
  max-width:900px;
  margin:auto;
  padding:40px;
}

.btn{
  background:linear-gradient(90deg,#a044ff,#ff4d9d);
  border:none;
  padding:10px 20px;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

.task-card{
  background:white;
  padding:15px;
  margin-top:10px;
  border-radius:10px;
}

.alert-card{
  background:#ffe9c7;
  padding:20px;
  margin-top:15px;
  border-radius:10px;
}

.login-page{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-box{
  background:white;
  padding:40px;
  border-radius:12px;
  width:300px;
  display:flex;
  flex-direction:column;
  gap:15px;
}